<!-- chat.html in your templates directory -->

{% extends 'base.html' %}

{% block content %}
<h2>Chat</h2>

<!-- Display conversation -->
{% if conversation %}
<div id="chat-box">
    {% for chat in conversation %}
    <div class="{{ chat.role }}">
        {{ chat.text }}
    {% if chat.role == 'bot' %}
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#source-tools-{{ forloop.counter }}" aria-expanded="false" aria-controls="source-tools-{{ forloop.counter }}">
            Show Details
        </button>
        <div class="collapse" id="source-tools-{{ forloop.counter }}">
        <ul>
            {% for tool in chat.source_tools %}
                <li>
                    <small>[{{ forloop.counter }}] 
                    {{ tool.content }}<br>
                    {{ tool.raw_input }}<br>
                    <p class="font-monospace">{{ tool.metadata.pandas_instruction_str }}<br>
                    {{ tool.metadata.raw_pandas_output }}<br>
                    </p>
                    </small>
                </li>
            {% endfor %}
            </ul>
        </div>
        
    {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="action" value="chat">Send</button>
    
</form>


<form method="post">
    {% csrf_token %}
    <button type="submit" name="action" value="clear_context">Clear Context</button>
    <button type="submit" name="action" value="clear_documents">Clear Models</button>
</form>


<a href="{% url 'project_detail' project.pk %}">Back to Project Files</a>

{% endblock %}
